.wimp-member-listing {
	@include rem-fallback( 'font-size', divide-by-base( 15 ) );
	font-family: $base-font;
	background: $white;
	border: 1px solid #828588;
	padding:13px;
	color:#242628;
}

.listing-header {
	@include clearfix();
	margin-bottom:7px;

	.listing-name, .member-meta {
		@include columnize( 50 );
	}

	.member-meta {
		@include reset-url();
		text-align: right;
		position:relative;
		top:28px;

		.wmd-cost {
			@include rem-fallback( 'font-size', divide-by-base( 15 ) );
			font-weight: bold;
		}
	}
}

.directory-archive-meta {
	@include clearfix();
	@include rem-fallback( 'font-size', divide-by-base( 12 ) );
	color:#5e5b5b;

	a {
		color:#242628;
	}

	.column {
		@include columnize( 50 );
		@include reset-url();
	}

	td:first-child {
		@include calc-value-by( 'margin-right', 5, 409, 'em' ); // 20px / 490px = 4.88998%
		display:block;
	}
}