.wmd-custom-style {
  margin-bottom: 20px; }
  .wmd-custom-style thead tr {
    border-bottom: 1px solid #333; }
  .wmd-custom-style thead th {
    padding-bottom: 5px; }
  .wmd-custom-style tbody tr:first-child td {
    padding: 5px 0; }

.invoice-nav {
  margin-top: 20px; }
